@import "tailwindcss";
@import "swiper/css";
@import "swiper/css/navigation";

@theme {
  --color-green: #74C346;
  --color-green-light: #74C346;
  --color-gold: #AB9464;
  --color-dark-teal: #19322F;
  --color-beige: #E6DCD1;
  --color-off-white: #F5F5F0;
  --color-footer-bg: #F1F1F1;
  --color-nav-text: #676767;
  --color-dark-gray: #333333;
  --font-sans: var(--font-abeezee);
  --font-slab: var(--font-roboto-slab);
}

body {
  color: var(--color-dark-teal);
  font-family: var(--font-sans);
}

@layer base {
  html {
    scroll-behavior: smooth;
  }
}
